<h2 id="about-me" class="mb-4 mt-4 leading-none tracking-tight text-3xl">#About-Me</h2>
<div class="about-me-paragraph flex flex-col items-center">
    <p class="text-white sm:ml-4">
        I am a passionate developer, with a focus on backend. <br>
        I enjoy web development, robotics and games. <br>
        <div class="flex mb-4 sm:ml-4 text-sky-200">
        <div class="ml-5 hover:text-sky-400">
            <a href="https://github.com/pietromezzadri"><div class="nf-fa-github text-3xl mr-5"></div></a>
        </div>
        <div class="ml-5 hover:text-sky-400">
            <a href="https://www.linkedin.com/in/pietronardelli/"><div class="nf-fa-linkedin_square text-3xl mr-5"></div></a>
        </div>
        </div>
</p>
</div>
<div class="about-me-stack mb-4 flex flex-col items-center">
    <p class="text-white sm:ml-4">
        The stack I use:<br>
        <ul class="flex flex-col sm:flex-row text-5xl sm:ml-4">
            <li class="nf-fa-python text-blue-300"></li>
            <li class="nf-fa-node text-green-400 sm:ml-5"></li>
            <li class="nf-seti-go text-cyan-300 sm:ml-10"></li>
            <li class="nf-seti-tsconfig text-blue-500 sm:ml-5"></li>
            <li class="nf-dev-django text-green-800 sm:ml-5"></li>
            <li class="nf-dev-fastapi text-emerald-600 sm:ml-5"></li>
            <li class="nf-fa-docker text-cyan-200 sm:ml-7"></li>
        </ul>
    </p>
</div>