<h2 id="projects" class="mb-4 mt-4 leading-none tracking-tight text-3xl">#Projects</h2>
<div class="flex flex-col items-center">
    <div class="flex flex-col items-center mb-4">
        <h3 class="mb-4">CRT Engine</h3>
        <div class="flex flex-row mb-2">
            <div class="nf-fa-python text-blue-300 text-3xl"></div>
            <div class="ml-5 text-gray-200 hover:text-gray-400">
                <a href="https://github.com/pietromezzadri/crt-engine"><div class="nf-fa-github text-3xl mr-5"></div></a>
            </div>
        </div>
        <p class="sm:ml-4 text-white indent-8">
            A game engine using pygame (a SDL wrapper for python) to build graphics applications such as game and 2D simulations. 
        </p>
    </div>
    <div class="flex flex-col items-center mb-4">
        <h3 class="mb-4">Finance Controller</h3>
        <div class="flex flex-row mb-2">
            <div class="nf-fa-python text-blue-300 text-3xl"></div>
            <div class="nf-dev-django ml-4 text-green-800 text-3xl"></div>
            <div class="ml-5 text-gray-200 hover:text-gray-400">
                <a href="https://github.com/pietromezzadri/crt-engine"><div class="nf-fa-github text-3xl mr-5"></div></a>
            </div>
        </div>
        <p class="sm:ml-4 text-white indent-8">
            A game engine using pygame (a SDL wrapper for python) to build graphics applications such as game and 2D simulations. 
        </p>
    </div>
    <div class="flex flex-col items-center mb-4">
        <h3 class="mb-4">Attalo Engine</h3>
        <div class="flex flex-row mb-2">
            <div class="nf-custom-cpp text-gray-300 text-3xl"></div>
            <div class="ml-5 text-gray-200 hover:text-gray-400">
                <a href="https://github.com/pietromezzadri/crt-engine"><div class="nf-fa-github text-3xl mr-5"></div></a>
            </div>
        </div>
        <p class="sm:ml-4 text-white indent-8">
            A game engine using pygame (a SDL wrapper for python) to build graphics applications such as game and 2D simulations. 
        </p>
    </div>
</div>